/* Write your CSS here */
.bg-container {
  background-color: #1e293b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: 'Bree Serif';
}
.heading {
  font-size: 40px;
  font-weight: 600;
  color: #f0bb03;
  text-align: center;
}
.para {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}
.button {
  padding: 10px;
  color: #000000;
  border-radius: 6px;
  border-style: none;
  font-weight: 600;
  font-family: 'Bree Serif';
}
